    {% extends "core/base.html" %}

    {% block titulo %}
        Galeria de Peliculas - Cine Romeo
    {% endblock titulo %}

    {% load static %}
   
    {% block contenido %}
          
        <h2>Listado Cartelera</h2>

        <div class="pelicula">
            <h3>Toy Story</h3>
            <img src="{% static 'core/img/peli1.jpg' %}">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos, praesentium. Doloribus adipisci aperiam architecto?
                Id a dignissimos sint, reiciendis explicabo, nobis ipsum, ut quos pariatur illum eligendi repellat officia
                dolor.
            </p>
            <div>Ver Pelicula</div>
        </div>
        <div class="pelicula">
            <h3>Advenger End Game</h3>
            <img src="{% static 'core/img/peli2.jpg' %}">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos, praesentium. Doloribus adipisci aperiam architecto?
                Id a dignissimos sint, reiciendis explicabo, nobis ipsum, ut quos pariatur illum eligendi repellat officia
                dolor.
            </p>
            <div>Ver Pelicula</div>
        </div>
        <div class="pelicula">
            <h3>El Planeta de los Simios</h3>
            <img src="{% static 'core/img/peli3.jpg' %}">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos, praesentium. Doloribus adipisci aperiam architecto?
                Id a dignissimos sint, reiciendis explicabo, nobis ipsum, ut quos pariatur illum eligendi repellat officia
                dolor.
            </p>
            <div>Ver Pelicula</div>
        </div>
        {% for p in listapelis %}
        <div class="pelicula">
            <h3>{{p.name}}</h3>
            <img src="{{ p.imagen.url }}">
            <p>{{p.descripcion}}  </p>
            <div>Ver Pelicula</div>
            <div>
                <a href="{% url 'ELIMINAR' p.name %}">Eliminar</a>
            </div>
            <div>
                <a href="{% url 'AGREGAR_CARRO' p.name %}">Agregar a Carro</a>
            </div>
        </div>
        {% endfor %}
 
    <h1>{{msg}}</h1>
{% endblock contenido %}